.popup {
  width: 650px;
  margin-left: -325px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -999;
  opacity: 0;
  transition: opacity 0.3s;
}

.form-popup {
  height: 650px;
  margin-top: -325px;
}


.form-header {
  width: 100%;
  height: 75px;
  background-color: #11A10F;
}

.form-header h3 {
  color: #f4f4f4;
  font-size: 1.5em;
  text-align: center;
  padding-top: 20px;
}


.form-footer {
  width: 100%;
  height: 100px;
  background-color: #11A10F;
  position: absolute;
  bottom: 0;
  margin: 0;
}


.form-tall {
  margin: 15px 40px;
  height: 533px;
}

.form-group {
  padding: 7px 0;
}

.form-group.col:first-of-type {
  margin-right: 40px;
}

.input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}


.form-one-input { width: 100%; }
.form-two-input { width: 50%; }
.form-two-input:first-of-type { margin-right: 10px; }

.form-two-input.split {
  width: 100%;
  margin-right: 0;
}

.form-label {
  font-weight: 400;
  font-size: 0.9em;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #cecece;
  height: 25px;
  font-size: 0.8em;
  padding: 13px 7px;
}

.form-textarea {
  border-radius: 5px;
  border: 1px solid #cecece;
  height: 140px;
  font-size: 0.8em;
  padding: 13px 7px;
  resize: none;
}

.form-submit {
  z-index: 100;
  position: relative;
  margin: 21px auto;
  display: block;
}

.popup-exit-icon {
  cursor: pointer;
  font-size: 1.1em;
  color: #f4f4f4;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 999;
}

/*--------------------------------Queries-------------------------------------*/
@media only screen and (max-width: 1023px) {
  .form-popup {
    height: 635px;
    width: 635px;
    margin-left: -317.5px;
    margin-top: -317.5px;
   }

   .form-header h3 { padding-top: 24px; }
}


@media only screen and (max-width: 767px) {
  .form-popup {
    height: 600px;
    width: 600px;
    margin-left: -300px;
    margin-top: -300px;
   }
  .form-header h3 { font-size: 1.6em; }
  .form-textarea { height: 100px; }
  .form-submit { margin: 33px auto; }
}


@media only screen and (max-width: 650px) {
  .form-popup {
    width: 450px;
    margin-left: -225px;
   }

   .form-textarea { height: 100px; }
   .form-submit { margin: 33px auto; }
}


@media only screen and (max-width: 450px) {
  .form-popup {
    width: 96vw;
    left: 0;
    margin-left: 2vw;
   }

   .form-tall { margin: 15px; }
}


@media only screen and (max-width: 320px) {
  .form-popup {
    width: 96vw;
    left: 0;
    margin-left: 2vw;
   }
}
