.section-dues { background-color: #F4F4F4; }

aside {
  text-align: center;
  padding: 60px;
}

.applicant-btn-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btn {
  border-radius: 28px;
  border: 2px solid #0E820C;
  font-family: inherit;
  font-size: 0.9em;
  padding: 15px 20px;
}

.btn-full {
  background-color: #0E820C;
  color: #EDEDED;
  transition: all 0.2s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #165106;
  border: 2px solid #165106;
  cursor: pointer;
}


.btn-ghost {
  background-color: #EDEDED;
  color: #0E820C;
  transition: all 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #0E820C;
  color: #EDEDED;
  cursor: pointer;
}
