.section-carousel {
  width: 80%;
  max-width: 920px;
  height: auto;
  margin: 0 auto;
}

.photo-carousel {
  margin-top: 50px;
}


@media only screen and (max-width: 767px) {
  .photo-carousel { margin: 0; }
}

@media only screen and (max-width: 480px) {
  .section-carousel { width: 90%; }
}
