.officer-component {
  height: 350px;
  width: 65%;
  margin: 35px auto;
  box-shadow: 0px 2px 8px 0px #585858;
}

.officer-headshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;


  transform: rotate(90deg);
}
