.nav-container {
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  position: relative;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  padding: 8px 0;
  color: white;
  position: relative;
}

.main-nav li::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #0E820C;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all ease 250ms;
}

.main-nav li:hover::after {
  width: 100%;
}
