header {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.hero-text-box {
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e8e8e8;
}

.hero-subtext {
  width: 70%;
  margin: 0 auto;
}
