.tip-copy { text-align: center; }

.boxes {
  height: 179px;
  width: 300px;
  min-width: 300px;
  display: inline-block;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}



/*---------------------------------Lands End----------------------------------*/
.lands-end-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.lands-end-container a {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.resource-link.lands-end {
  height: 130px;
  margin: 40px auto 0 auto;
}

.lands-end-link {
  padding: 0 15px;
}
