.tip-copy { text-align: center; }

.boxes {
  height: 179px;
  width: 300px;
  min-width: 300px;
  display: inline-block;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}


/*------------------------------Resource Links--------------------------------*/
.section-resource-links {
  background-color: #F4F4F4;
}

.resource-link-container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.resource-link {
  height: 150px;
  width: 300px;
  background-color: white;
  box-shadow: 0px 2px 8px 0px #585858;
  position: relative;
}

.resource-link img {
  height: inherit;
  width: inherit;
  padding: 15px;
  object-fit: scale-down;
}


/*---------------------------------Lands End----------------------------------*/
.lands-end-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.lands-end-container a {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.resource-link.lands-end {
  height: 130px;
  margin: 40px auto 0 auto;
}

.lands-end-link {
  padding: 0 15px;
}
