* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.section { padding: 80px; }


/*--------------------------------HEADERS-------------------------------------*/

h1, h2, h3 { font-weight: 300; }


h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #e8e8e8;
  font-size: 2.4em;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 30px;
  font-size: 1.8em;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #0E820C;
  content: "";
  margin: 30px auto 0 auto;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 15px;
}


@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row { padding: 0 2%; }
}


@media only screen and (max-width: 1023px) {
  body { font-size: 17px; }
  section { padding: 60px; }
}


@media only screen and (max-width: 767px) {
  body { font-size: 16px; }
  section { padding: 30px 0;}

  .row,
  .hero-text-box { padding: 0 4%; }

  .col {
    width: 100%;
    margin: 0 0 4% 0 ;
  }

  h1 { font-size: 1.8em; }
  h2 { font-size: 1.5em; }
}
